---
title: "Join our club of *selected EV drivers*"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#baaa92"
  overlay_filter: "0.5"
  overlay_image: /assets/images/escooter2.jpg
  actions:
    - label: "Waitlist"
      # url: "https://forms.gle/tJ2mMF8HEh32ixWh8"
      url: "https://us14.list-manage.com/contact-form?u=0f3fb951ef3088a5c2a1947e2&form_id=003d3fd2bf02a37610d4e80d838218f7"
  # caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Charge your EV &#9889; &amp; get rewards from your loved brands &#x1F381;"
intro: 
  # - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
  - excerpt: "It's that simple. With *charge2earn*, **every time you charge your electric vehicle** at a public station you receive loyalty points that can be redeemed for **exclusive deals, gifts, promotions, or benefits** from retail stores, hotel chains, restaurants, airlines, cinemas... You name it :)"
    # url: "#test-link"
    # btn_label: "Catalog of affiliated companies"
    # btn_class: "btn--primary"
feature_row:
  - image_path: assets/images/enroll2.jpg
    alt: "Enroll"
    title: "Enroll"
    excerpt: "Opt-in to **loyalty programs and premium campaigns**, from a well-known company to your local store downtown - you can choose how many you like!"
  - image_path: /assets/images/charging2.jpg
    # image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "Earn"
    title: "Earn"
    excerpt: "Use your favorite emobility app to **discover charging stations nearby** that are offering you rewards; go charge your EV there and - *'voilá!'* - **loyalty points** are assigned to your membership wallet."
    # url: "#test-link"
    # btn_label: "Mobility service providers"
    # btn_class: "btn--primary"
  - image_path: /assets/images/surprise2.jpg
    title: "Redeem"
    excerpt: "**Cash out** your points anytime, in the way they were designed for, as usual, and **get joy**!"
feature_row2:
  - image_path: /assets/images/mailbox2.jpg
    alt: "placeholder image 2"
    title: "Receive Our Newsletter"
    excerpt: "Read the latest news from the electromobility industry, and be the first to join us when we are ready to launch"
    # url: "https://forms.gle/tJ2mMF8HEh32ixWh8"
    url: "https://us14.list-manage.com/contact-form?u=0f3fb951ef3088a5c2a1947e2&form_id=003d3fd2bf02a37610d4e80d838218f7"
    btn_label: "Subscribe Me"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="center" %}
